---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ultrafastparrot cult</title>
    </head>
    <body>
        <div class="w-full max-w-4xl p-4 mx-auto flex flex-col gap-4">
            <div
                class="w-full h-20 bg-size-[40px] animate-[scroll_0.3s_linear_infinite]"
                style="background-image: url('/ultrafastparrot.gif');"
            >
            </div>
            <h1 class="text-center text-6xl">ultrafastparrot cult</h1>
            <div
                class="w-full h-20 bg-size-[40px] animate-[scroll_0.3s_linear_infinite]"
                style="background-image: url('/ultrafastparrot.gif');"
            >
            </div>
        </div>
    </body>
</html>
