---
import "../styles/global.css";
import SITES from "../../sites.ts";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/ultrafastparrot.gif" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content=":ultrafastparrot:" />
        <title>ultrafastparrot cult</title>
    </head>
    <body>
        <div class="w-full max-w-4xl p-4 mx-auto flex flex-col gap-2">
            <header
                class="bg-card rounded-lg overflow-hidden flex flex-col gap-4"
            >
                <div
                    class="w-full h-20 bg-size-[30px] animate-[scroll_0.3s_linear_infinite]"
                    style="background-image: url('/ultrafastparrot.gif');"
                >
                </div>
                <h1 class="pl-4 text-3xl sm:text-6xl">ultrafastparrot cult</h1>
                <h2 class="pl-4 text-2xl sm:text-3xl">webring</h2>
                <div
                    class="w-full h-20 bg-size-[30px] animate-[scroll_0.3s_linear_infinite_reverse]"
                    style="background-image: url('/ultrafastparrot.gif');"
                >
                </div>
            </header>
            <main class="grid grid-cols-1 sm:grid-cols-3 gap-2">
                <a
                    href="/random"
                    class="p-4 bg-card rounded-lg border flex flex-row gap-4 items-center justify-center"
                >
                    <img
                        alt="ultrafastparrot"
                        src="/ultrafastparrot.gif"
                        class="size-8"
                    />
                    random site
                </a>
                <a
                    href="https://github.com/ultrafastparrot/ultrafastparrot.net#joining"
                    target="_blank"
                    class="p-4 bg-card rounded-lg border flex flex-row gap-4 items-center justify-center"
                >
                    <img
                        alt="ultrafastparrot"
                        src="/ultrafastparrot.gif"
                        class="size-8"
                    />
                    how to join
                </a>
                <a
                    href="/ultrafastparrot"
                    class="p-4 bg-card rounded-lg border flex flex-row gap-4 items-center justify-center"
                >
                    <img
                        alt="ultrafastparrot"
                        src="/ultrafastparrot.gif"
                        class="size-8"
                    />
                    <p class="sr-only">ultrafastparrot</p>
                </a>
                {
                    SITES.map((site) => (
                        <a
                            class="bg-card border rounded-lg p-4 text-foreground"
                            href={site.url}
                        >
                            <h2 class="text-xl">{site.name}</h2>
                            <p class="text-foreground/75">{site.url}</p>
                        </a>
                    ))
                }
            </main>
            <footer
                class="w-full h-10 bg-size-[30px] animate-[scroll_0.3s_linear_infinite_reverse]"
                style="background-image: url('/ultrafastparrot.gif');"
            >
            </footer>
        </div>
    </body>
</html>
