<html lang="en">
    <head>
        <style>
            body {
                background-color: black;
                background-image: url("/ultrafastparrot.gif");
                background-position: center;
            }
        </style>
        <title>ultrafastparrot</title>
    </head>
</html>
